$elixir-orange: rgb(244, 125, 32);
$elixir-grey: rgb(77, 72, 72);
$elixir-blue: rgb(0, 84, 114);
$elixir-green: rgb(190, 191, 50);

$elixir-orange-70: transparentize($elixir-orange, 0.3);
$elixir-grey-70: transparentize($elixir-grey, 0.3);
$elixir-blue-70: transparentize($elixir-blue, 0.3);
$elixir-green-70: transparentize($elixir-green, 0.3);

$elixir-orange-40: transparentize($elixir-orange, 0.6);
$elixir-grey-40: transparentize($elixir-grey, 0.6);
$elixir-blue-40: transparentize($elixir-blue, 0.6);
$elixir-green-40: transparentize($elixir-green, 0.6);

$elixir-orange-20: transparentize($elixir-orange, 0.8);
$elixir-grey-20: transparentize($elixir-grey, 0.8);
$elixir-blue-20: transparentize($elixir-blue, 0.8);
$elixir-green-20: transparentize($elixir-green, 0.8);

body {
  font-size: 1em;
  font-family: Corbel,Arial,Helvetica Neue,Helvetica,sans-serif;
}

section {
  margin: 0 auto;
  width: 80%;
}

a {
  color: $elixir-blue;
}

.tess-widget-faceted-table {
  display: flex;

  .tess-controls {
    display: flex;
    .tess-active-facets {
      flex-grow: 1;
    }
    .tess-search {
      text-align: right;
      flex-shrink: 1;
    }
  }

  .tess-results {
    flex-grow: 1;

    table {
      border-collapse: collapse;
    }

    th, td {
      padding: 8px 10px;
    }
    th {
      text-align: left;
      border-bottom: 2px solid $elixir-orange;
    }
    th:first-child {
      width: 20%;
    }
  }

  a.tess-facet-row {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: small;
    padding: 2px 5px;

    &:visited, &:active {
      color: inherit;
    }
    &:hover {
      background-color: $elixir-blue-20;
    }

    &.active {
      background-color: $elixir-blue-70;
      color: white;

      &:hover {
        background-color: $elixir-blue-40;
      }

      &:after {
        content: "×";
        float: right;
        margin-left: 5px;
        font-weight: bold;
      }
    }
    span {
      pointer-events: none;
    }
  }

  .tess-pagination {
    text-align: right;

    a.tess-pagination-link {
      margin: 0 5px;
    }
  }


  .tess-facets {
    flex-shrink: 0;
    width: 200px;
    margin-right: 10px;
    border-bottom: 1px solid $elixir-grey-20;

    .tess-facet {
      border-left: 1px solid $elixir-grey-20;
      border-right: 1px solid $elixir-grey-20;
    }

    .tess-facet-title {
      font-weight: bold;
      padding: 10px 5px;
      background-color: #efefef;
      font-size: small;
    }

    .tess-facet-title, ul > li a.tess-facet-row {
      border-top: 1px solid $elixir-grey-20;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a.tess-facet-row {
          display: flex;
          padding: 7px 10px;

          span {
            display: inline-block;
          }

          .tess-facet-row-value {
            flex-grow: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .tess-facet-row-count {
            flex-shrink: 0;
            color: $elixir-grey;
          }
        }
      }
    }
  }
}
