body {
  font-size: 1em;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
section {
  margin: 0 auto;
  width: 80%;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px 10px;
}
th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}
th:first-child {
  width: 20%;
}
