$elixir-orange: rgb(244, 125, 32);
$elixir-grey: rgb(77, 72, 72);
$elixir-blue: rgb(0, 84, 114);
$elixir-green: rgb(190, 191, 50);

$elixir-orange-70: transparentize($elixir-orange, 0.3);
$elixir-grey-70: transparentize($elixir-grey, 0.3);
$elixir-blue-70: transparentize($elixir-blue, 0.3);
$elixir-green-70: transparentize($elixir-green, 0.3);

$elixir-orange-40: transparentize($elixir-orange, 0.6);
$elixir-grey-40: transparentize($elixir-grey, 0.6);
$elixir-blue-40: transparentize($elixir-blue, 0.6);
$elixir-green-40: transparentize($elixir-green, 0.6);

$elixir-orange-20: transparentize($elixir-orange, 0.8);
$elixir-grey-20: transparentize($elixir-grey, 0.8);
$elixir-blue-20: transparentize($elixir-blue, 0.8);
$elixir-green-20: transparentize($elixir-green, 0.8);

@keyframes tess-loader-spin {
  to {transform: rotate(360deg);}
}

.tess-widget {
  position: relative;

  &.tess-widget-list {
    .tess-controls {
      justify-content: flex-end;
    }
  }

  .tess-results {
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px 10px;
    }

    th {
      text-align: left;
      border-bottom: 2px solid $elixir-orange;
    }

    th:first-child {
      width: 20%;
    }

    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .tess-controls {
    display: flex;

    .tess-active-facets {
      flex-grow: 1;
    }

    .tess-facet-title {
      font-weight: bold;
      padding: 10px 5px;
      font-size: small;
    }

    .tess-search {
      position: relative;
      
      input, button {
        line-height: 20px;
        padding: 2px 5px;
        border: 1px solid #ccc;
      }

      input {
        border-right: 0;
        padding-right: 16px
      }
      
      .tess-search-clear {
        position: absolute;
        margin-left: -16px;
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        text-decoration: none;
        color: #666;
        &:hover, &:active, &:visited {
          text-decoration: none;
          color: #666;
        }
      }
    }

    .tess-facet-dropdowns {
      display: flex;
      .tess-facet {
        flex: 1;
        margin-right: 1em;

        select { }
      }
    }
  }

  &.tess-widget-faceted-table {
    display: flex;

    .tess-wrapper {
      flex-grow: 1;
    }

    a.tess-facet-row, a.tess-facet-expander {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      font-size: small;
      padding: 2px 5px;

      &:visited, &:active {
        color: inherit;
      }
      &:hover {
        background-color: $elixir-blue-20;
      }

      &.active {
        background-color: $elixir-blue-70;
        color: white;

        &:hover {
          background-color: $elixir-blue-40;
        }

        &:after {
          content: "×";
          float: right;
          margin-left: 5px;
          font-weight: bold;
        }
      }
      span {
        pointer-events: none;
      }
    }
  }

  .tess-facets {
    flex-shrink: 0;
    width: 220px;
    margin-right: 20px;

    .tess-facet {
      border-left: 1px solid $elixir-grey-20;
      border-right: 1px solid $elixir-grey-20;

      &:last-child {
        border-bottom: 1px solid $elixir-grey-20;
      }

      &.tess-facet-expanded .hidden {
        display: initial !important;
      }

      .hidden {
        display: none;
      }
    }

    .tess-facet-title {
      font-weight: bold;
      padding: 10px 5px;
      background-color: #efefef;
      font-size: small;
    }

    .tess-facet-title, ul > li a {
      border-top: 1px solid $elixir-grey-20;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a.tess-facet-row {
          display: flex;
          padding: 7px 10px;

          span {
            display: inline-block;
          }

          .tess-facet-row-value {
            flex-grow: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .tess-facet-row-count {
            flex-shrink: 0;
            color: $elixir-grey;
          }
        }
      }
    }

    .tess-facet-expander {
      display: block !important;
      color: #666 !important;
      background-color: #f9f9f9;
    }
  }

  .tess-pagination {
    text-align: right;

    a.tess-pagination-link {
      margin: 0 5px;
    }
  }

  &.tess-loader, &.tess-loader-large {
    opacity: 0.75;
  }

  .tess-google-map {
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
  }
}

.tess-loader:before, .tess-loader-large:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid $elixir-grey-20;
  border-top-color: $elixir-orange;
  animation: tess-loader-spin .6s linear infinite;
}

.tess-loader-large:before {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-width: 6px;
}
