body {
  font-size: 1em;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

section {
  margin: 0 auto;
  width: 80%;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px 10px;
}

th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}

th:first-child {
  width: 20%;
}

.tess-list-widget {
  display: flex;
}
.tess-list-widget .tess-results {
  flex-grow: 1;
}
.tess-list-widget .tess-facets {
  flex-shrink: 0;
  width: 200px;
}
.tess-list-widget .tess-facets ul li.tess-facet-row {
  cursor: pointer;
}
.tess-list-widget .tess-facets ul li.active {
  background-color: #eee;
}
